.App {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1efef;
}

header .logo h3 {
  font-size: 30px;
}

.headerNav {
  list-style: none;
  display: inline-block;
  display: flex;
}

.headerNav li {
  margin-right: 30px;
}

.headerNav a {
  text-decoration: none;
}