@charset "UTF-8";
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: aliceblue;
  font-family: "Cambria", "Avenir", "noto sans JP" "PT Mono", "Tahoma", "Trebuchet MS", "ヒラギノ明朝 ProN", sans-serif;
}

img {
  width: 100%;
}

a {
  display: inline-block;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

h1 {
  font-size: 17em;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
  color: rgb(95, 108, 119);
}

.header {
  background: rgb(217, 236, 252);
  width: 100%;
}
.header_profile {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header_profile_container {
  max-width: 1200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}
.header_container {
  max-width: 1200px;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}
.header_logo h1 {
  font-size: 27px;
  font-weight: bold;
}
.header_nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.header_nav li a {
  color: rgb(95, 108, 119);
  font-weight: bold;
}

.footer {
  background: rgb(217, 236, 252);
  width: 100%;
  height: 170px;
}
.footer_container {
  padding: 70px 0 0;
  display: flex;
}
.footer_FontAwesome {
  color: rgb(95, 108, 119);
  width: 120px;
  text-align: center;
}
.footer_nav {
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin: 0 auto;
  padding-left: 120px;
  align-items: center;
}
.footer_nav li {
  list-style: none;
}
.footer_nav li a {
  color: rgb(95, 108, 119);
}
.footer_copy {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
  color: rgb(95, 108, 119);
}

.portfolio {
  color: rgb(95, 108, 119);
}
.portfolio_headline {
  height: 55vh;
  position: relative;
  background: url(../public/45789e65571539dab76da88482a296b0.png) center center/cover;
  background-attachment: fixed;
  opacity: 0.7;
}
.portfolio_title {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.15em;
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0px 35px rgb(95, 108, 119);
}
.portfolio_container {
  padding: 100px 0;
}
.portfolio_item {
  position: relative;
  max-width: 500px;
  display: flex;
  height: 350px;
  margin: 70px auto;
}
.portfolio_item_border {
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  height: 318px;
  margin: 13px;
  border: 2px solid rgb(95, 108, 119);
}
.portfolio_item_img {
  height: 100%;
}
.portfolio_item_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.portfolio_item_img1 {
  -o-object-position: -290px -5px;
     object-position: -290px -5px;
}
.portfolio_item_img2 {
  -o-object-position: -450px -3px;
     object-position: -450px -3px;
}
.portfolio_item_img3 {
  -o-object-position: -160px -1px;
     object-position: -160px -1px;
}
.portfolio_item_textBox_left {
  width: 150%;
  font-size: 14px;
  padding-left: 13px;
}
.portfolio_item_textBox_right {
  width: 100%;
  font-size: 14px;
  padding-right: 13px;
}
.portfolio_item_text {
  margin: 0 auto;
  height: 350px;
  position: relative;
  padding: 80px 0;
  color: rgb(95, 108, 119);
}
.portfolio_item_title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.portfolio_item_detail {
  font-size: 10px;
  margin-top: 20px;
  line-height: 1.2;
  text-align: center;
}
.portfolio_item_when {
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
}
.portfolio_category {
  display: inline-block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio_category_item {
  font-size: 10px;
  text-align: center;
  width: 100px;
  height: 20px;
  margin: 0 auto;
  padding: 5px 0;
}
.portfolio_category_item:not(:first-child) {
  margin-top: 10px;
}
.portfolio_design {
  border: 0.5px solid rgb(155, 154, 154);
  color: rgb(222, 199, 222);
}
.portfolio_coding {
  border: 0.5px solid rgb(155, 154, 154);
  color: rgb(198, 198, 160);
}
.portfolio_wordpress {
  border: 0.5px solid rgb(95, 108, 119);
  color: rgb(204, 204, 235);
}

.contact-form {
  margin: 100px auto;
  max-width: 400px;
}
.contact-label {
  font-weight: bold;
  color: rgb(95, 108, 119);
  font-size: 10px;
}
.contact-input {
  width: 100%;
  height: 40px;
  border: none;
  margin: 10px 0 50px;
}
.contact-message {
  width: 100%;
  border: none;
  margin-top: 10px;
}
.contact-send {
  margin: 50px auto 0;
  display: block;
  width: 100px;
  height: 40px;
  color: white;
  background: rgb(95, 108, 119);
  border-radius: 2px;
  font-size: 12px;
}

.profile {
  width: 100%;
  height: 1000px;
}
.profile_title {
  font-size: 200px;
  text-shadow: 1px 0px 35px rgb(55, 63, 70);
  color: #fff;
}
.profile_text {
  width: 700px;
  position: absolute;
  top: 100vh;
  transform: translateX(30%);
}
.profile_text p {
  font-size: 25px;
  line-height: 2.5;
  font-weight: bold;
}
.profile_text2 {
  width: 700px;
  position: absolute;
  top: 165vh;
  transform: translateX(60%);
}
.profile_text2 p {
  font-size: 25px;
  line-height: 2.5;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */